@media only screen and (min-width: 1024px) {

  header {
    border-bottom: none;
  }

  .dark-btn {
    justify-content: flex-end;
    align-items: center;

    span {
      display: block;
      padding-right: 1em;
    }
  }

  .socials {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    gap: 2em;
  }

  .overview {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    .overview-header {
      grid-column-start: 1;
      grid-column-end: 5;
      z-index: 2;
    }
  }
}